.shadow {
  -webkit-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  -moz-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
}
.shadow2 {
  -webkit-box-shadow: 1px 2px 0px #AAA;
  -moz-box-shadow: 1px 2px 0px #AAA;
  box-shadow: 1px 2px 0px #AAA;
}
.innershadow {
  -moz-box-shadow: inset 3px 3px 1px 0px #ccc;
  -webkit-box-shadow: inset 3px 3px 1px 0px #ccc;
  -o-box-shadow: inset 3px 3px 1px 0px #ccc;
  box-shadow: inset 3px 3px 1px 0px #ccc;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=135, Strength=1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.clear {
  clear: both;
}
.chordBlock {
  position: relative;
  float: left;
  height: 80px;
  line-height: 60px;
  margin-right: 1.22%;
  text-align: center;
  background-color: #d8d8d8;
  border: 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.chordBlock .chordCommands {
  position: absolute;
  bottom: 0;
  right: 0;
}
.chordBlock.playing {
  background-color: #ff7979;
}
.duration_1 {
  width: 10%;
}
.duration_2 {
  width: 20%;
}
.duration_4 {
  width: 40%;
}
