@font-face {
  font-family: 'roboto-regular';
  src: url(../../../fonts/roboto-regular.eot);
  src: url(../../../fonts/roboto-regular.eot?#iefix) format('embedded-opentype'), url(../../../fonts/roboto-regular.woff) format('woff'), url(../../../fonts/roboto-regular.ttf) format('truetype'), url(../../../fonts/roboto-regular.svg#roboto-regular) format('svg');
  font-weight: normal;
  font-style: normal;
}
@keyframes anim_1dp_to_5dp {
  from {
    -webkit-box-shadow: 0px 0px 1px 0px #37474f;
    -moz-box-shadow: 0px 0px 1px 0px #37474f;
    box-shadow: 0px 0px 1px 0px #37474f;
    font-size: 3em;
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 1px #37474f;
    -moz-box-shadow: 0px 0px 5px 1px #37474f;
    box-shadow: 0px 0px 5px 1px #37474f;
    font-size: 3.07em;
  }
}
@keyframes anim_5dp_to_1dp {
  from {
    -webkit-box-shadow: 0px 0px 5px 1px #37474f;
    -moz-box-shadow: 0px 0px 5px 1px #37474f;
    box-shadow: 0px 0px 5px 1px #37474f;
    font-size: 3.07em;
  }
  to {
    -webkit-box-shadow: 0px 0px 1px 0px #37474f;
    -moz-box-shadow: 0px 0px 1px 0px #37474f;
    box-shadow: 0px 0px 1px 0px #37474f;
    font-size: 3em;
  }
}
#metronome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 36px;
}
#metronome #base {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 35px;
  border-bottom: 34px solid #cfd8dc;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  position: relative;
}
#metronome #base #arm {
  position: absolute;
  left: 6px;
  bottom: -28px;
  transform-origin: bottom center;
  width: 5px;
  height: 38px;
  border: 1px solid #263238;
  background-color: #cfd8dc;
}
#metronome #base #arm.on {
  -webkit-animation: armmove 0.8s infinite;
  -moz-animation: armmove 0.8s infinite;
  -o-animation: armmove 0.8s infinite;
  animation: armmove 0.8s infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#metronome #base #arm.off {
  transform: rotate(-30deg);
  transition: transform linear 0.5s;
}
@keyframes armmove {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes armmove {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@-moz-keyframes armmove {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@-o-keyframes armmove {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
output,
section,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
.clear {
  float: none !important;
  clear: both !important;
}
em,
i,
.italic {
  font-style: italic;
}
u {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}
address {
  font-style: normal;
}
select {
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.hide {
  display: none;
}
#container {
  min-width: 1024px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container.visibility {
  opacity: 0.9;
}
#header {
  height: 10vh;
  width: 100%;
  background: #607d8b;
}
#header .burger {
  float: left;
  height: 10vh;
  width: 10vh;
  background: url(../../../Images/hamburger.svg) center center no-repeat;
  cursor: pointer;
}
#header h1 {
  float: left;
  font-family: 'roboto-regular';
  font-size: 4vh;
  line-height: 10vh;
  color: white;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background: #ffffff;
  z-index: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav_bar.open {
  width: 240px;
}
.nav_bar .nav_content h1 {
  height: 100px;
  font-family: 'roboto-regular';
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  line-height: 100px;
  cursor: pointer;
  background: #cfd8dc;
}
.nav_bar .nav_content ul {
  border-bottom: 1px solid #cfd8dc;
}
.nav_bar .nav_content ul li {
  height: 60px;
  text-align: center;
  border-top: 1px solid #cfd8dc;
}
.nav_bar .nav_content ul li a {
  display: block;
  font-family: 'roboto-regular';
  font-size: 16px;
  color: #cfd8dc;
  text-decoration: none;
  line-height: 60px;
}
.nav_bar .nav_content ul li a:hover {
  background: #cfd8dc;
  color: #ffffff;
}
.loader {
  background: #263238;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.loader .loadingMessage {
  font-family: 'roboto-regular';
  color: #ffffff;
  text-align: center;
}
.loader .loadingError {
  font-family: 'roboto-regular';
  color: red;
  text-align: center;
}
.loader.ng-hide {
  opacity: 0;
}
.loader.ng-hide-add.ng-hide-add-active,
.loader.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
#sequencer {
  display: flex;
  flex-flow: row wrap;
  height: 55vh;
  width: 100%;
  background: #eceff1;
  cursor: default;
}
#metadata {
  width: 100%;
  background: #eceff1;
}
#metadata input[type=text] {
  background: #eceff1;
  color: white;
  border: none;
}
#metadata input[type=text]#tb-name {
  height: 1.5em;
  font-size: 3em;
}
#metadata input[type=text]#tb-description {
  font-style: italic;
  font-size: small;
}
.chordBlock {
  height: 150px;
  width: 23vw;
  perspective: 1000;
  font-family: 'roboto-regular';
  color: #607d8b;
  line-height: 150px;
  text-align: center;
  margin: 1vh 1vw;
  /*#region durations styles */
  /*#endregion */
  /*#region animations */
  /*#endregion */
}
.chordBlock.flipped .flipper {
  transform: rotateY(180deg);
}
.chordBlock .flipper {
  position: relative;
  transform-origin: 50% 50%;
  transition: 0.2s;
  transform-style: preserve-3d;
}
.chordBlock .flipper .front,
.chordBlock .flipper .back {
  width: 23vw;
  background: #cfd8dc;
  height: 150px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.chordBlock .flipper .front {
  z-index: 2;
  font-size: 105px;
  line-height: 150px;
  -webkit-box-shadow: 0px 0px 1px 0px #37474f;
  -moz-box-shadow: 0px 0px 1px 0px #37474f;
  box-shadow: 0px 0px 1px 0px #37474f;
  font-size: 3em;
  -moz-animation-duration: 150ms;
  -o-animation-duration: 150ms;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -moz-animation-name: anim_5dp_to_1dp;
  -o-animation-name: anim_5dp_to_1dp;
  -webkit-animation-name: anim_5dp_to_1dp;
  animation-name: anim_5dp_to_1dp;
}
.chordBlock .flipper .front:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #37474f;
  -moz-box-shadow: 0px 0px 5px 1px #37474f;
  box-shadow: 0px 0px 5px 1px #37474f;
  font-size: 3.07em;
  -moz-animation-duration: 150ms;
  -o-animation-duration: 150ms;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -moz-animation-name: anim_1dp_to_5dp;
  -o-animation-name: anim_1dp_to_5dp;
  -webkit-animation-name: anim_1dp_to_5dp;
  animation-name: anim_1dp_to_5dp;
}
.chordBlock .flipper .back {
  transform: rotateY(180deg);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}
.chordBlock .flipper .back a {
  flex-grow: 1;
  background: #cfd8dc;
  text-decoration: none;
  border: 1px solid #cfd8dc;
  color: white;
  /*&:hover {
					background: @blue_grey_100;
				}*/
}
.chordBlock .flipper .back .chordType {
  flex-grow: 1;
}
.chordBlock .flipper .back .chordType a {
  height: 140px;
  line-height: 150px;
  font-size: 49.5px;
  display: block;
}
.chordBlock .flipper .back .chordCommands {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
}
.chordBlock .flipper .back .chordCommands a {
  height: 70px;
  line-height: 70px;
  font-size: 6vh;
  width: 33%;
}
.chordBlock .flipper .back .chordCommands a.saveButton {
  color: #b9f9cf;
}
.chordBlock .flipper .back .chordCommands a.removeButton {
  color: #f9b9b9;
}
.chordBlock span {
  font-size: 20px;
}
.chordBlock.duration_2 {
  width: 46vw;
}
.chordBlock.duration_2 .front,
.chordBlock.duration_2 .back {
  width: 46vw;
}
.chordBlock.duration_4 {
  width: 92vw;
}
.chordBlock.duration_4 .front,
.chordBlock.duration_4 .back {
  width: 92vw;
}
.chordBlock.ng-enter,
.chordBlock.ng-leave {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear opacity;
}
.chordBlock.ng-enter,
.chordBlock.ng-leave.ng-leave-active {
  opacity: 0;
}
.chordBlock.ng-leave,
.chordBlock.ng-enter.ng-enter-active {
  opacity: 1;
}
.chordBlock.isSelected .flipper .back .chordType a {
  color: #cfd8dc;
  background: #ffffff;
}
#options {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 1vh 0;
  height: 30vh;
  width: 100%;
  background: #eceff1;
}
#options section {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#options section input[type=button] {
  outline: none;
  border: 0;
  cursor: pointer;
}
#options section.controls {
  padding: 7vh 0;
}
#options section.controls input[type=button] {
  margin-left: 5vw;
  width: 15vh;
  height: 15vh;
}
#options section.controls input[type=button].play {
  background: url(../../../Images/play.png) no-repeat;
  background-size: 15vh;
}
#options section.controls input[type=button].stop {
  background: url(../../../Images/stop.png) no-repeat;
  background-size: 15vh;
}
#options section.multi_select select {
  display: block;
  margin: 0 auto 0.25vh auto;
  width: 60%;
  height: 7vh;
  text-align: center;
  color: rgba(0, 0, 0, 0.870588);
  font-family: 'roboto-regular';
  font-size: 2.5vh;
  background: #b0bec5;
  text-indent: 2vh;
  cursor: pointer;
}
#options section.multi_select select:hover {
  color: rgba(0, 0, 0, 0.870588);
  background: #90a4ae;
}
#options section.actions .metro_block {
  float: left;
  padding: 11vh 0;
}
#options section.actions .metro_block .metronome {
  padding: 0 2vh;
  height: 7vh;
  font-family: 'roboto-regular';
  font-size: 2.5vh;
  line-height: 7vh;
  color: #cfd8dc;
  border: 1px solid #cfd8dc;
  cursor: pointer;
}
#options section.actions .metro_block .metronome.checked {
  color: #ffffff;
  background: #cfd8dc;
  border: 1px solid #37474f;
  cursor: pointer;
}
#options section.actions .insert {
  float: right;
  height: 29vh;
  width: 50%;
  font-family: 'roboto-regular';
  font-size: 30vh;
  color: #cfd8dc;
  background: #37474f;
  line-height: 30vh;
}
#options section.actions .insert:hover {
  color: #ffffff;
  background: #cfd8dc;
}