@font-face {
  font-family: 'roboto-regular';
  src: url(../../../fonts/roboto-regular.eot);
  src: url(../../../fonts/roboto-regular.eot?#iefix) format('embedded-opentype'), url(../../../fonts/roboto-regular.woff) format('woff'), url(../../../fonts/roboto-regular.ttf) format('truetype'), url(../../../fonts/roboto-regular.svg#roboto-regular) format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
output,
section,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
.clear {
  float: none !important;
  clear: both !important;
}
em,
i,
.italic {
  font-style: italic;
}
u {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}
address {
  font-style: normal;
}
select {
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.hide {
  display: none;
}
#container {
  min-width: 1024px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container.visibility {
  opacity: 0.9;
}
#header {
  height: 10vh;
  width: 100%;
  background: #263238;
}
#header .burger {
  float: left;
  height: 10vh;
  width: 10vh;
  background: url(../../../Images/hamburger.svg) center center no-repeat;
  cursor: pointer;
}
#header h1 {
  float: left;
  font-family: 'roboto-regular';
  font-size: 4vh;
  line-height: 10vh;
  color: white;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background: #ffffff;
  z-index: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav_bar.open {
  width: 240px;
}
.nav_bar .nav_content {
  display: none;
}
.nav_bar .nav_content h1 {
  height: 100px;
  font-family: 'roboto-regular';
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  line-height: 100px;
  cursor: pointer;
  background: #80cbc4;
}
.nav_bar .nav_content ul {
  border-bottom: 1px solid #80cbc4;
}
.nav_bar .nav_content ul li {
  height: 60px;
  text-align: center;
  border-top: 1px solid #80cbc4;
}
.nav_bar .nav_content ul li a {
  display: block;
  font-family: 'roboto-regular';
  font-size: 16px;
  color: #80cbc4;
  text-decoration: none;
  line-height: 60px;
}
.nav_bar .nav_content ul li a:hover {
  background: #80cbc4;
  color: #ffffff;
}
#sequencer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 60vh;
  width: 100%;
  background: #37474f;
}
#sequencer .chordBlock {
  margin: 2vh;
  height: 15vh;
  width: 22vw;
  background: #80cbc4;
  font-family: 'roboto-regular';
  font-size: 15vh;
  color: #ffffff;
  line-height: 15vh;
  text-align: center;
}
#sequencer .chordBlock.duration_2 {
  width: 47vw;
}
#sequencer .chordBlock.duration_4 {
  width: 97vw;
}
#options {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 1vh 0;
  height: 30vh;
  width: 100%;
  background: #263238;
}
#options section {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#options section input[type=button] {
  outline: none;
  border: 0;
  cursor: pointer;
}
#options section.controls {
  padding: 7vh 0;
}
#options section.controls input[type=button] {
  margin-left: 5vw;
  width: 15vh;
  height: 15vh;
}
#options section.controls input[type=button].play {
  background: url(../../../Images/play.png) no-repeat;
  background-size: 15vh;
}
#options section.controls input[type=button].stop {
  background: url(../../../Images/stop.png) no-repeat;
  background-size: 15vh;
}
#options section.multi_select select {
  display: block;
  margin: 0 auto 0.25vh auto;
  width: 60%;
  height: 7vh;
  text-align: center;
  color: #80cbc4;
  font-family: 'roboto-regular';
  font-size: 2.5vh;
  background: #37474f;
  text-indent: 2vh;
  cursor: pointer;
}
#options section.multi_select select:hover {
  color: #ffffff;
  background: #80cbc4;
}
#options section.actions .metro_block {
  float: left;
  padding: 11vh 0;
}
#options section.actions .metro_block .metronome {
  padding: 0 2vh;
  height: 7vh;
  font-family: 'roboto-regular';
  font-size: 2.5vh;
  line-height: 7vh;
  color: #80cbc4;
  border: 1px solid #80cbc4;
  cursor: pointer;
}
#options section.actions .metro_block .metronome.checked {
  color: #ffffff;
  background: #80cbc4;
  border: 1px solid #37474f;
  cursor: pointer;
}
#options section.actions .insert {
  float: right;
  height: 29vh;
  width: 50%;
  font-family: 'roboto-regular';
  font-size: 30vh;
  color: #80cbc4;
  background: #37474f;
  line-height: 30vh;
}
#options section.actions .insert:hover {
  color: #ffffff;
  background: #80cbc4;
}