<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="harmonizerApp">
<head>
	<title>Harmonizer</title>
	<script src="js/vendor/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/mainController.js"></script>
	<script src="js/config.js"></script>
	<script src="js/directives/chordBlockDirective.js"></script>
	<script src="js/directives/wheelSelect.js"></script>
	<script src="js/factories/chordFactory.js"></script>
	<script src="js/factories/soundFactory.js"></script>

	<script src="js/vendor/howler.js"></script>

	<link href="css/_utils.less" rel="stylesheet" />
	<link href="css/atomics.less" rel="stylesheet" />
	<link href="css/home.less" rel="stylesheet" />
	<link href="css/chord.less" rel="stylesheet" />
	<link href="css/commands.less" rel="stylesheet" />
	<link rel="icon" type="image/png" href="/Images/favicon.png" />
</head>
<body ng-controller="mainController">
	<div id="topbar"></div>
	<div id="container">
		<section id="header">
			<h1>Harmonizer</h1>
			<ul id="menu">
				<li><a href="#">Save</a></li>
				<li><a href="#">Share</a></li>
				<li><a href="#">Load Examples</a></li>
			</ul>
		</section>
		<section id="edition">
			<div id="chord">
				<wheelselect elements="notes" selected="noteChosen"></wheelselect>
				<wheelselect elements="chordTypes" selected="chordTypeChosen"></wheelselect>
				<wheelselect elements="durations" selected="durationChosen"></wheelselect>
				<input type="button" value="Insert" ng-click="insertChord()" />
			</div>
			<div id="parameters">
				
				<wheelselect elements="tempi" selected="tempoChosen"></wheelselect>
				Metronome: <input type="checkbox" ng-model="metronome" ng-change="toggleMetronome()" />
			</div>
		</section>
		<section id="sequencer">
			<chord-block ng-repeat="chord in chords" chord="chord" increaselength="increaseAChord" index="{{$index}}"></chord-block>
		</section>
		<section id="playback">
			<input type="button" value="play" ng-click="play();" />
			<input type="button" value="stop" ng-click="stop();" />
		</section>
	</div>
</body>
</html>
