body {
  padding-top: 3.5rem;
}

.BodyLayout {
  &-progression {
    margin:1rem;
  }
  &-chordEditor {
    margin: 1rem;
  }
}
.NavLink {
}

.Progression {
  &-commands {
  }
  &-chordsList {
    margin: 20px 0 0 0;
    padding: 0;
  }
}

.ChordsList {
  &-addChord {
  }
  &-chordBox {
    margin-bottom: 20px;
  }
}

.AddChord {
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}
.ChordBox {
  margin-bottom: 0;
  padding: 4px;
  text-align: center;
  transition-timing-function:ease-in;
  transition-property: background-color;
  transition-duration:150ms;

  &.card-primary {
    transition-timing-function:ease-in;
    transition-property: background-color;
    transition-duration:150ms;
  }

  .panel-body {
    padding: 0px;
  }

  &-name {

  }
  &-chordCommands {
    margin: 2px;

  }
}

.ChordCommand {
  margin: 3px;
}


.ChordEditor {
  &-notesList {
    //max-width: 3.5rem;

    li {

      //width:100%;
      //align-items:center;
    }
  }
}


// .btn-group-justified {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
//   border-collapse: separate;
//   .btn,
//   .btn-group {
//     float: none;
//     display: table-cell;
//     .btn {
//       width: 100%;
//     }
//     .dropdown-menu {
//       left: auto;
//     }
//   }
// }

.Overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1031; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

    .overlay-content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
}
