<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="navbar-brand">
      <router-link to="/home"><img class="header-logo" :src="logoImg" alt="Vue SPA" /></router-link>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li><router-link to="/" class="nav-link">Home</router-link></li>
        <li><router-link to="/browse" class="nav-link">Browse</router-link></li>
        <li><router-link to="/create" class="nav-link">Create</router-link></li>
        <!-- <router-link to="/category/front-end" class="nav-item is-tab">Front-end</router-link>
        <router-link :to="{ name: 'category', params: { id: 'mobile' } }" class="nav-item is-tab">Mobile</router-link> -->
        <li><router-link to="/login" class="nav-link">
          <span v-if="isAuthenticated">Logout</span><span v-else>Login</span>
        </router-link></li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import logo from '../../assets/harmonizer-logo.png'

export default {
  data () {
    return {
      logoImg: logo
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  }
}
</script>

<style scoped lang="scss">
.header-logo {
  height: 52px;
}
</style>

