<template>
  <div class="bar-box col-12 col-md-6 col-lg-6 col-xl-4">
    <div class="card-group">
      <chord-box
        v-for="(chord, chordIndex) in bar"
        :key="chordIndex"
        :chord="chord"
        :click-edit-chord-parent-handler="clickEditChordParentHandler">
        <!-- onClickDeleteHandler="onClickDeleteHandler.bind(null, barIndex, chordIndex)"
        onClickAddLeftHandler="onClickAddLeftHandler.bind(null, createLocalization(barIndex, chordIndex, 'left'))"
        onClickAddRightHandler="onClickAddRightHandler.bind(null, createLocalization(barIndex, chordIndex, 'right'))"
        isWholeProgressionPlaying="isWholeProgressionPlaying"
        editMode="editMode"
        clickChordHandler="clickChordHandler.bind(null, chord)"> -->
      </chord-box>
    </div>
  </div>
</template>

<script>
import ChordBox from './ChordBox.vue'

export default {
  components: {
    'chord-box': ChordBox
  },
  computed: {
  },
  created () {
  },
  methods: {
  },
  props: [
    'bar',
    'clickEditChordParentHandler'
  ]
}
</script>
<style lang="scss" scoped>

</style>
