<template>
  <div v-if="editedChord" class="BodyLayout-chordEditor ChordEditor">
    <h2>{{ editedChord.notation }}</h2>
    <div class="ChordEditor-attributes row">
      <div class="col-4">
        <!-- <Switch @change="this.switchSharpsFlat" :value="state.flatOrSharp"></Switch> -->
        <ul class="list-group ChordEditor-notesList">
          <li v-for="note in staticData.notes" :key="note.id"
            class="list-group-item text-center d-inline-block"
            :class="{ 'active': editedChord.rootNoteId === note.id }"
            @click="changeChordNote(note.id)">
            {{ note.name }}
          </li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-group ChordEditor-typesList">
          <li v-for="type in staticData.chordTypes" :key="type.id"
            class="list-group-item text-center d-inline-block"
            :class="{ 'active': editedChord.typeId === type.id }"
            @click="changeChordType(type.id)">
              {{ type.notation }}
              <span style="grey" v-if="!type.notation">(major)</span>
          </li>
        </ul>
      </div>
      <!-- <div class="col-4">
        <ul class="list-group ChordEditor-valuesList">
          {
            values.map(value =>
              <li key={value.id}
              class={"list-group-item text-center d-inline-block " + (editedChord.valueId === value.id ? "active" : "")}
              onClick={() => { this.changeChordValue(value.id); }}
              >{value.name}</li>
            )
          }
        </ul>
      </div> -->
    </div>
    <button class="btn btn-secondary" @click="this.cancelChordEdition">Cancel</button>
    <button class="btn btn-primary" @click="this.saveChordToProgression">Save</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
  },
  computed: {
    ...mapGetters('progressionDetailsModule', ['chordEditionOpen', 'progressionDetails']),
    ...mapGetters('staticDataModule', ['staticData']),
    editedChord () {
      if (this.progressionDetails.barsChordsIds) {
        return this.progressionDetails.barsChordsIds[0][0]
      }
    }
  },
  created () {
    if (!this.progressionDetails.barsChordsIds) {
      let progressionId = this.$route.params.progressionId
      this.loadProgressionDetails(progressionId)
    }
  },
  data () {
    return {
      'flatOrSharp': 'flat'
    }
  },
  methods: {
    ...mapActions('progressionDetailsModule', ['loadProgressionDetails'])
  },
  props: ['onCancel', 'onConfirm']
}
</script>
