<template>
  <div
    class="card chords-list_chord-box"
    :style="{ flexGrow: chord.valueId }"
    @click="clickChordHandler(chord.id)">
    <div
      class="chord-box"
      :class="{ 'card-primary': chord.isPlaying }">
        <h4 class="chord-box-name display-5">{{ chord.notation }}</h4>
      <div v-if="editMode" class="btn-group">
        <button
          type="btn"
          class="btn btn-default btn-sm" @click="clickAddLeftHandler" title="edit the chord">
          <i class="far fa-plus-square"></i>
        </button>
        <button
          type="button"
          class="btn btn-default btn-sm"
          @click="clickEditHandler"
          title="edit the chord">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button
          type="button"
          class="btn btn-default btn-sm"
          @click="clickDeleteHandler(chord._localization)"
          title="remove the chord">
          <i class="fa fa-trash"/>
        </button>
        <button type="button" class="btn btn-default btn-sm" @click="clickAddRightHandler" title="edit the chord">
          <i class="far fa-plus-square"></i>
        </button>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
  },
  computed: {
    ...mapGetters('progressionDetailsModule', ['editMode'])
  },
  created () {
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions('playerModule', ['startPlayingChordInProgression']),
    clickChordHandler (chordId) {
      this.startPlayingChordInProgression({ chordId })
    },
    clickDeleteHandler () {

    },
    clickEditHandler () {
      this.clickEditChordParentHandler({ barIndex: this.chord.barIndex, chordIndex: this.chord.chordIndex })
    },
    clickAddLeftHandler () {

    },
    clickAddRightHandler () {

    }
  },
  props: [
    'chord',
    'click-edit-chord-parent-handler'
  ]
}
</script>

<style lang="scss" scoped>
  .chord-box {
    margin-bottom: 0;
    padding: 4px;
    text-align: center;
    transition-timing-function:ease-in;
    transition-property: background-color;
    transition-duration:150ms;

    &.card-primary {
      transition-timing-function:ease-in;
      transition-property: background-color;
      transition-duration:150ms;
    }

    .panel-body {
      padding: 0px;
    }

    &-chordCommands {
      margin: 2px;

    }
  }
</style>
