<template>
  <div class="modal" v-bind:class="{'is-active': modalIsOpen}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h1>Warning</h1>
      </header>
      <section class="modal-card-body">
        {{ text }}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" v-on:click="onConfirm()">Yes ! Delete</button>
        <button class="button" v-on:click="onCancel()">Nope !</button>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</template>

<script>
export default {
  props: ['modalIsOpen', 'onCancel', 'onConfirm', 'text']
}
</script>
