<template>
  <div className="Progression-commands Commands btn-toolbar">
    <form className="form-inline"  action="">
      <div className="form-group">
        <div className="btn-group mr-4">
            <button type="button" className="btn btn-primary" @click="startPlaying">
              <i className="fa fa-play"></i> Play
            </button>
            <button type="button" className="btn btn-secondary" @click="stopPlaying">
              <i className="fa fa-stop"></i> Stop
            </button>
            <button type="button" className="btn btn-secondary" @click="editDetails">
              <i className="fa fa-cog"></i> Settings
            </button>
            <button v-if="editMode" type="button" className="btn btn-secondary" @click="toggleEditMode">
              <i className="fa fa-pencil"></i> Play mode
            </button>
            <button v-else type="button" className="btn btn-secondary" @click="toggleEditMode">
                <i className="fa fa-music"></i> Edit mode
            </button>
        </div>
        <label className="custom-control custom-checkbox" >
          <input type="checkbox" className="custom-control-input" @change="toggleMetronome" :checked="metronomeChecked" />
          <span className="custom-control-indicator"></span>
          <span className="custom-control-description">Metronome</span>
        </label>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
  },
  computed: {
    ...mapGetters('progressionDetailsModule', ['editMode']),
    ...mapGetters('playerModule', ['metronomeIsActive']),
    metronomeChecked () {
      return this.metronomeIsActive ? 'checked' : ''
    }
  },
  created () {
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions('progressionDetailsModule', ['setEditMode']),
    ...mapActions('playerModule', ['setMetronomeState']),
    toggleEditMode () {
      this.setEditMode(!this.editMode)
    },
    toggleMetronome () {
      this.setMetronomeState(!this.metronomeIsActive)
    },
    startPlaying () {

    },
    stopPlaying () {

    },
    editDetails () {

    }
  },
  props: [
    ''
  ]
}
</script>
