<template>
  <div id="app">
    <app-header></app-header>
    <div
      v-if="staticDataReady"
      class="container-fluid">
      <router-view></router-view>
    </div>
    <div
      v-else
      class="container-fluid">
      <p>Please wait while I load the musical data ! </p>
      </div>
    <problem-modal v-bind:apiError="apiError"></problem-modal>
  </div>

</template>

<script>
import AppHeader from './AppHeader.vue'
import AppFooter from './AppFooter.vue'
import appService from '../app.service'
import ProblemModal from './ProblemModal.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    'app-header': AppHeader,
    'app-footer': AppFooter,
    'problem-modal': ProblemModal
  },
  created () {
    appService.checkApi().then(result => {
      if (result.length > 0) {
        this.apiError = true
        // console.warn(result)
        throw new Error(result)
      }
      this.loadStaticData().then(() => {
        this.staticDataReady = true
      })
    })
  },
  data () {
    return {
      apiError: false,
      staticDataReady: false
    }
  },
  methods: {
    ...mapActions('staticDataModule', ['loadStaticData'])
  }
}
</script>

<style lang="scss">

  @import './src/css/over';
  @import '~bootstrap/dist/css/bootstrap';

  body {
    margin-top: 80px;
  }
  @media (max-width: 992px) {
  body {
    padding-top: 240px;
  }
}
  .sad {
    margin-bottom:1.2em;
  }
</style>

