<template>
  <div class="modal" v-bind:class="{'is-active': apiError}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Oops !</p>
      </header>
      <section class="modal-card-body">
        <p class="sad">
          The vStack API does not seem to be working right now...
        </p>
        <img :src="failImg" />
      </section>
    </div>
  </div>
</template>

<script>
import failImage from '../../assets/pumba-sad.jpg'

export default {
  data () {
    return {
      failImg: failImage
    }
  },
  props: [
    'apiError'
  ]
}
</script>
