<template>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
    <tr
      v-for="progression in this.progressions"
      :key="progression.id"
      @click="clickProgressionDetailsHandler(progression.id)">
      <th scope="row">{{ progression.id }}</th>
      <td>{{ progression.title }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('progressionsListModule', ['progressions'])
  },
  created () {
    this.loadProgressions()
  },
  methods: {
    ...mapActions('progressionsListModule', ['loadProgressions']),
    clickProgressionDetailsHandler (progressionId) {
      this.$router.push({ name: 'progressionDetails', params: { progressionId: progressionId } })
    }
  }
}
</script>

<style lang="scss" scoped>
tr {
  cursor: pointer;
}
</style>
