<template>
  <div class="progressionDetails">
    <h1>Progression details</h1>
    <control-panel> </control-panel>
    <div class="row">
      <bar-box
        v-for="(bar, index) in progressionDetails.barsChordsIds"
        :key="index"
        :bar="bar"
        :click-edit-chord-parent-handler="clickEditChordHandler">
      </bar-box>
      <button @click="clickAddBarHandler">Add</button>
    </div>
  </div>
</template>

<script>
import BarBox from './BarBox.vue'
import ControlPanel from './ControlPanel.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    'bar-box': BarBox,
    'control-panel': ControlPanel
  },
  computed: {
    ...mapGetters('progressionDetailsModule', ['progressionDetails'])
  },
  created () {
    console.log('this.$route.params', this.$route.params)
    let progressionId = this.$route.params.progressionId
    this.loadProgressionDetails(progressionId)
  },
  methods: {
    ...mapActions('progressionDetailsModule', ['loadProgressionDetails']),
    clickAddBarHandler () {
      this.$router.push({ name: 'chordEdition', params: { progressionId: this.progressionDetails.id, barIndex: 2, chordIndex: 0 } })
    },
    clickEditChordHandler ({ barIndex, chordIndex }) {
      this.$router.push({ name: 'chordEdition', params: { progressionId: this.progressionDetails.id, barIndex, chordIndex } })
    }
  }
}
</script>

