@using System.Configuration
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
	<title>Harmonizer</title>
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<link rel="stylesheet" href="~/fonts/fontello/css/icons.css">
	<link rel="icon" type="image/png" href="~/images/favicon.png" />
</head>
<body>
	<div id="topbar"></div>
	<div ng-show='stateIsLoading' class="loader">
		<div class="loadingMessage" ng-hide="apiError">
			Harmonizer is loading...<br /><br />
			<img src="~/images/ajax-loader.gif" />
		</div>
		<div ng-show="apiError" class="loadingError">
			<p>Harmonizer could not load...</p>
		</div>
	</div>
	<div id="container">
		<ng-view></ng-view>
		@if (true)//@if (Request.IsLocal)
		{
			@*Angulars*@
			<script src="~/js/vendor/angular.js"></script>
			<script src="~/js/vendor/angular-resource.js"></script>
			<script src="~/js/vendor/angular-route.js"></script>
			<script src="~/js/vendor/angular-animate.js"></script>
			<script src="~/js/vendor/howler.js"></script>
			<script src="~/js/vendor/lodash.min.js"></script>

			@*Utils*@

			@* App *@
			<script src="~/js/app.js"></script>
			<script src="~/js/config.js"></script>
			<script src="~/js/homepage/homeController.js"></script>
			<script src="~/js/sideMenu/sideMenuController.js"></script>
			<script src="~/js/utils/lodashFactory.js"></script>
			<script src="~/js/chords/chordService.js"></script>
			<script src="~/js/sound/soundFactory.js"></script>
			<script src="~/js/data/sequenceResource.js"></script>
			<script src="~/js/data/staticDataService.js"></script>

			<script src="~/js/chords/chordBlockDirective.js"></script>
			<script src="~/js/control/wheelSelect.js"></script>

			<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
			<script>
				angular.module('app').value("apiurl", "@ConfigurationManager.AppSettings["apiUrl"]");

			</script>
			<script>

				function burgerMenu() {
					$('.burger').on('click', function () {
						$('.nav_bar').addClass('open');
						setTimeout(function () { $('.nav_content').fadeIn(200); }, 200);
						$('#container').addClass('visibility');
					});

					$('.nav_content h1').on('click', function () {
						$('.nav_bar').removeClass('open');
						$('.nav_content').hide();
						$('#container').removeClass('visibility');
					});
				}

				function metronome() {
					$('.metronome').click(function () {
						if ($(this).hasClass('checked')) {
							$(this).removeClass('checked');
							$(".metro_check").prop("checked", false);
						}
						else {
							$(this).addClass('checked');
							$(".metro_check").prop("checked", true);
						}
					});
				}

				$(function () {
					burgerMenu();
					metronome();
				});
			</script>
		}
		else
		{
			<script src="~/js/min/angular.min.js"></script>
			<script src="~/js/min/angular-resource.min.js"></script>
			<script src="~/js/min/angular-route.min.js"></script>
			<script src="~/js/min/angular-animate.min.js"></script>
			<script src="~/js/min/howler.min.js"></script>
			<script src="~/js/min/lodash.min.js"></script>
			<script src="~/js/min.js"></script>
		}
	</div>
</body>
</html>