$primary: #00d1b2;
$grey-lighter: #dbdbdb;
$grey-dark: #4a4a4a;

$link: $primary !default;
$navbar-item-hover-color: $primary;
$navbar-tab-active-color: $primary;
$navbar-tab-active-border-bottom-color: $primary;
$navbar-tab-hover-border-bottom-color:$primary;
