<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<container>
		<register type="Harmonizer.Services.Interfaces.ISequenceService, Harmonizer.Services.Interfaces" mapTo="Harmonizer.Api.Services.SequenceService, Harmonizer.Api" />
		<register type="Harmonizer.Services.Interfaces.IApiService, Harmonizer.Services.Interfaces" mapTo="Harmonizer.Api.Services.ApiService, Harmonizer.Api" />
		
		
		<register type="Harmonizer.Domain.Interfaces.ISequenceRepository, Harmonizer.Domain.Interfaces" mapTo="Harmonizer.Infrastructure.DataAccess.SequenceRepository, Harmonizer.Infrastructure.DataAccess" />
		
		<register type="Harmonizer.Domain.Interfaces.IChordsRepository, Harmonizer.Domain.Interfaces" mapTo="Harmonizer.Infrastructure.DataAccess.ChordsRepository, Harmonizer.Infrastructure.DataAccess" />
	</container>
</unity>
