<div class="chordBlock flip-container duration_{{chord.durationId}}" ng-class="{'flipped':flipped}" ng-click="flip();">
    <div class="flipper">
        <div class="front " ng-class="{'playing':chord.playing}">
            {{chord.chordNotation}}
            <span>{{chord.durationId}}</span>
        </div>
        <div class="back chordCommands">
	        <a href="" ng-click="decreaseChordLength(index);">-</a> 
            <a href="" ng-click="increaseChordLength(index);">+</a> 
            <a href="" ng-click="removeAChord(index);">X</a>
            <a href="" ng-click="moveChordLeft(index);">&lt;-</a>
            <a href="" ng-click="moveChordRight(index);">-&gt;</a>
            <a href=""></a>
        </div>
    </div>
</div>