<div class="chordBlock duration_{{chord.durationId}}" ng-class="{'playing':chord.playing}">
	{{chord.noteId}}{{chord.chordType.notation}}

	<div class="chordCommands">
		<input type="button" value="-" ng-click="decreaseChordLength(index);" />
		<input type="button" value="+" ng-click="increaseChordLength(index);" />
		<input type="button" value="X" ng-click="removeAChord(index);" />
		<input type="button" value="<-" ng-click="moveChordLeft(index);" />
		<input type="button" value="->" ng-click="moveChordRight(index);" />
	</div>
</div>