@import "_utils.less";
.chordBlock
{
	float: left;
	height: 60px;
	line-height: 60px;
	margin: 1.25%;

	text-align:center;
	background-color:ButtonFace;
	border:2px black;
	border-radius: 5px;
}

.duration_1 // 1 bar length
{
	width:10%;
}
