@import "_utils.less";
body {
	margin: 0;

	font-family: Verdana;
	font-size:24px;


	#topbar{
		background: url(https://static-1.gumroad.com/res/gumroad/assets/header_bar-46adae4006c7bc06a17fb33f59713d77.png) top center;
		height: 3px;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 9;
	}
}

#container
{
	width: 1280px;
	height: 722px;

	padding: 25px 25px;

	margin-right: auto;
	margin-left: auto;

	background-color:@classyBeige;
	
	.borderradius(10px);

	//background-color:#e2e2e2;
	
	#header
	{
		height:45px;

		border-bottom: 1px solid #dddddd;
		
		h1 
		{	
			float:left;
			height:45px;
			text-align: center;
			margin:0;

			font-size: 42px;
			font-weight: 500;
			font-family: @TitleFont;
			color:@TitleColor;
		}

		ul
		{
			float:right;
			height:45px;
			line-height:45Px;
			margin:0;
			list-style: none;
			&> li { float:left; }
		}
	}
}


