.shadow {
  -webkit-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  -moz-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
}
body {
  margin: 0;
  font-family: Verdana;
  font-size: 24px;
}
body #topbar {
  background: url(https://static-1.gumroad.com/res/gumroad/assets/header_bar-46adae4006c7bc06a17fb33f59713d77.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
}
#container {
  width: 1280px;
  height: 722px;
  padding: 25px 25px;
  margin-right: auto;
  margin-left: auto;
  background-color: #efefe9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#container #header {
  height: 45px;
  border-bottom: 1px solid #dddddd;
}
#container #header h1 {
  float: left;
  height: 45px;
  text-align: center;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #252a2e;
}
#container #header ul {
  float: right;
  height: 45px;
  line-height: 45Px;
  margin: 0;
  list-style: none;
}
#container #header ul > li {
  float: left;
}
