// -------------------------------------------------
// -------------------------------------------------
//  /$$      /$$ /$$$$$$ /$$   /$$ /$$$$$$ /$$   /$$
// | $$$    /$$$|_  $$_/| $$  / $$|_  $$_/| $$$ | $$
// | $$$$  /$$$$  | $$  |  $$/ $$/  | $$  | $$$$| $$
// | $$ $$/$$ $$  | $$   \  $$$$/   | $$  | $$ $$ $$
// | $$  $$$| $$  | $$    >$$  $$   | $$  | $$  $$$$
// | $$\  $ | $$  | $$   /$$/\  $$  | $$  | $$\  $$$
// | $$ \/  | $$ /$$$$$$| $$  \ $$ /$$$$$$| $$ \  $$
// |__/     |__/|______/|__/  |__/|______/|__/  \__/
// -------------------------------------------------
// -------------------------------------------------
@import "mixin.less";

// --------------------------------------------------
// --------------------------------------------------
//   /$$$$$$   /$$$$$$  /$$        /$$$$$$  /$$$$$$$
//  /$$__  $$ /$$__  $$| $$       /$$__  $$| $$__  $$
// | $$  \__/| $$  \ $$| $$      | $$  \ $$| $$  \ $$
// | $$      | $$  | $$| $$      | $$  | $$| $$$$$$$/
// | $$      | $$  | $$| $$      | $$  | $$| $$__  $$
// | $$    $$| $$  | $$| $$      | $$  | $$| $$  \ $$
// |  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  | $$
//  \______/  \______/ |________/ \______/ |__/  |__/
// --------------------------------------------------
// --------------------------------------------------
@import "color.less";

// ---------------------------------------
// ---------------------------------------
//  /$$$$$$$$ /$$$$$$  /$$   /$$ /$$$$$$$$
// | $$_____//$$__  $$| $$$ | $$|__  $$__/
// | $$     | $$  \ $$| $$$$| $$   | $$
// | $$$$$  | $$  | $$| $$ $$ $$   | $$
// | $$__/  | $$  | $$| $$  $$$$   | $$
// | $$     | $$  | $$| $$\  $$$   | $$
// | $$     |  $$$$$$/| $$ \  $$   | $$
// |__/      \______/ |__/  \__/   |__/
// ---------------------------------------
// ---------------------------------------
@import "font.less";

.font1() {
	font-family: 'roboto-regular';
}

// --------------------------------------------------
// --------------------------------------------------
//  /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$$ /$$$$$$$$
// | $$__  $$| $$_____/ /$$__  $$| $$_____/|__  $$__/
// | $$  \ $$| $$      | $$  \__/| $$         | $$
// | $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$      | $$
// | $$__  $$| $$__/    \____  $$| $$__/      | $$
// | $$  \ $$| $$       /$$  \ $$| $$         | $$
// | $$  | $$| $$$$$$$$|  $$$$$$/| $$$$$$$$   | $$
// |__/  |__/|________/ \______/ |________/   |__/
// --------------------------------------------------
// --------------------------------------------------
@import "reset.less";

// ------------------------------------------------------------------
// ------------------------------------------------------------------
//   /$$$$$$   /$$$$$$  /$$      /$$ /$$      /$$  /$$$$$$  /$$   /$$
//  /$$__  $$ /$$__  $$| $$$    /$$$| $$$    /$$$ /$$__  $$| $$$ | $$
// | $$  \__/| $$  \ $$| $$$$  /$$$$| $$$$  /$$$$| $$  \ $$| $$$$| $$
// | $$      | $$  | $$| $$ $$/$$ $$| $$ $$/$$ $$| $$  | $$| $$ $$ $$
// | $$      | $$  | $$| $$  $$$| $$| $$  $$$| $$| $$  | $$| $$  $$$$
// | $$    $$| $$  | $$| $$\  $ | $$| $$\  $ | $$| $$  | $$| $$\  $$$
// |  $$$$$$/|  $$$$$$/| $$ \/  | $$| $$ \/  | $$|  $$$$$$/| $$ \  $$
//  \______/  \______/ |__/     |__/|__/     |__/ \______/ |__/  \__/
// ------------------------------------------------------------------
// ------------------------------------------------------------------
*,
*:after,
*:before {
	.boxsizing();
}

html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

.hide {
	display: none;
}

#container {
	min-width: 1024px;
	.user-select (none);

	&.visibility {
		opacity: 0.9;
	}
}

// -------------------------------------------------------------
// -------------------------------------------------------------
// /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$
// | $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
// | $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
// | $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
// | $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
// | $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
// | $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
// |__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
// -------------------------------------------------------------
// -------------------------------------------------------------

#header {
	height: 10vh;
	width: 100%;
	background: @blue_grey_900;

	.burger {
		float: left;
		height: 10vh;
		width: 10vh;
		background: url('@{url}hamburger.svg') center center no-repeat;
		cursor: pointer;
	}

	h1 {
		float: left;
		.font1();
		font-size: 4vh;
		line-height: 10vh;
		color: white;
	}
}

.nav_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background: @white;
	z-index: 1;
	.transition(0.2s);

	&.open {
		width: 240px;
	}

	.nav_content {
		//display: none;
		h1 {
			height: 100px;
			.font1();
			font-size: 30px;
			text-align: center;
			color: @white;
			line-height: 100px;
			cursor: pointer;
			background: @teal_200;
		}

		ul {
			border-bottom: 1px solid @teal_200;

			li {
				height: 60px;
				text-align: center;
				border-top: 1px solid @teal_200;

				a {
					display: block;
					.font1();
					font-size: 16px;
					color: @teal_200;
					text-decoration: none;
					line-height: 60px;

					&:hover {
						background: @teal_200;
						color: @white;
					}
				}
			}
		}
	}
}


.loader {
	background: @blue_grey_900;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;

	.loadingMessage {
		.font1();
		color: @white;
		text-align: center;
	}

	.loadingError {
		display: none;
		.font1();
		color: red;
		text-align: center;
	}

	&.ng-hide {
		opacity: 0;
	}

	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove.ng-hide-remove-active {
		-webkit-transition: all linear 0.5s;
		transition: all linear 0.5s;
	}
}

@baseChordWidth: 25vw;

#sequencer {
	display: flex;
	flex-flow: row wrap;
	height: 60vh;
	width: 100%;
	background: @blue_grey_800;
	cursor: default;

	

	.chordBlock {
		height: 16vh;
		width: @baseChordWidth;
		perspective: 1000;
		.font1();
		color: @white;
		line-height: 16vh;
		text-align: center;
		justify-content: space-around;

		&.flipped {
			.flipper {
				transform: rotateY(180deg);
			}
		}

		.flipper {
			position: relative;
			transform-origin: 50% 50%;
			transition: 0.2s;
			transform-style: preserve-3d;

			.front, .back {
				width: @baseChordWidth;
				background: @teal_300;
				height: 16vh;
				//border: 5px solid @blue_grey_800;
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}

			.front {
				border: 5px solid #37474f;
				z-index: 2;
				font-size: 16vh;

			}
			/* back, initially hidden pane */
			.back {
				transform: rotateY(180deg);

				.flex-display(flex);
				height: 16vh;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-content: stretch;
				align-items: stretch;
				
				a {
					flex-grow:1;
					background: @teal_200;
					text-decoration: none;
					color: white;
					border:1px solid @teal_300;
					&:hover{
						background:@teal_100;
					}
				}
				.chordType{
					width:33%;
					a{
						height: 16vh;
						line-height: 16vh;
						font-size: 12vh;
						display:block;
					}
				}
				
				.chordCommands{
					width:67%;
					display:flex;
					flex-wrap: wrap;

					a{
						height: 8vh;
						line-height: 8vh;
						font-size: 6vh;
						width:33%;
						
					}
				}

			}
		}

		span {
			font-size: 20px;
		}

		&.duration_2 {
			width: 2*@baseChordWidth;

			.front, .back {
				width: 2*@baseChordWidth;
			}
		}

		&.duration_4 {
			width: 4*@baseChordWidth;

			.front, .back {
				width: 4*@baseChordWidth;
			}
		}
		&.ng-enter,
		&.ng-leave {
			-webkit-transition: 0.3s linear all;
			transition: 0.3s linear opacity;
		}

		&.ng-enter,
		&.ng-leave.ng-leave-active {
			opacity: 0;
		}

		&.ng-leave,
		&.ng-enter.ng-enter-active {
			opacity: 1;
		}
	}
}

#options {
	.flex-display(flex);
	padding: 1vh 0;
	height: 30vh;
	width: 100%;
	background: @blue_grey_900;

	section {
		.flex(1);

		input[type=button] {
			outline: none;
			border: 0;
			cursor: pointer;
		}

		&.controls {
			padding: 7vh 0;

			input[type=button] {
				margin-left: 5vw;
				width: 15vh;
				height: 15vh;

				&.play {
					background: url('@{url}play.png') no-repeat;
					background-size: 15vh;
				}

				&.stop {
					background: url('@{url}stop.png') no-repeat;
					background-size: 15vh;
				}
			}
		}

		&.multi_select {
			select {
				display: block;
				margin: 0 auto 0.25vh auto;
				width: 60%;
				height: 7vh;
				text-align: center;
				color: @teal_200;
				.font1();
				font-size: 2.5vh;
				background: @blue_grey_800;
				text-indent: 2vh;
				cursor: pointer;

				&:hover {
					color: @white;
					background: @teal_200;
				}
			}
		}

		&.actions {

			.metro_block {
				float: left;
				padding: 11vh 0;

				.metronome {
					padding: 0 2vh;
					height: 7vh;
					.font1();
					font-size: 2.5vh;
					line-height: 7vh;
					color: @teal_200;
					border: 1px solid @teal_200;
					cursor: pointer;

					&.checked {
						color: @white;
						background: @teal_200;
						border: 1px solid @blue_grey_800;
						cursor: pointer;
					}
				}
			}


			.insert {
				float: right;
				height: 29vh;
				width: 50%;
				.font1();
				font-size: 30vh;
				color: @teal_200;
				background: @blue_grey_800;
				line-height: 30vh;

				&:hover {
					color: @white;
					background: @teal_200;
				}
			}
		}
	}
}

#metronome {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 36px;

	#base {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 35px;
		border-bottom: 34px solid @teal_200;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		height: 0;
		position: relative;

		#arm {
			position: absolute;
			left: 6px;
			bottom: -28px;
			transform-origin: bottom center;
			width: 5px;
			height: 38px;
			border: 1px solid #263238;
			background-color: @teal_200;

			&.on {
				.animation(armmove 0.8s infinite);
				.animationTiming(ease-in-out);
			}

			&.off {
				transform: rotate(-30deg);
				transition: transform linear 0.5s;
			}
		}
	}



	@keyframes armmove {
		0% {
			transform: rotate(-30deg);
		}

		50% {
			transform: rotate(30deg);
		}

		100% {
			transform: rotate(-30deg);
		}
	}

	@-webkit-keyframes armmove {
		0% {
			transform: rotate(-30deg);
		}

		50% {
			transform: rotate(30deg);
		}

		100% {
			transform: rotate(-30deg);
		}
	}

	@-moz-keyframes armmove {
		0% {
			transform: rotate(-30deg);
		}

		50% {
			transform: rotate(30deg);
		}

		100% {
			transform: rotate(-30deg);
		}
	}

	@-o-keyframes armmove {
		0% {
			transform: rotate(-30deg);
		}

		50% {
			transform: rotate(30deg);
		}

		100% {
			transform: rotate(-30deg);
		}
	}
}
